nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
/* hero-section */
.hero-container {
    display: flex;
    justify-content: space-between;

}
.hero-image img {
    border-radius: 65px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: black;

}
.hero-text p {
    font-size: 24px;
    font-weight: 400;
    color: #4A5568;
}
.hero-section {
    margin-top: 30px;
}
.hero-text{
    align-content: center;
}
/* herobottom-section */
.lower-container{
    display: flex;
    
}
.date-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.lower-hero {
    margin-top: 80px;
}
.heading-content {
   
    box-shadow: 0px 5px 4px #DDDDDD;
    border-radius: 4px 0 0 4px;
    border: 1px  solid #DDDDDD;
    align-content: center;
    padding: 0px 40px 0px 50px;
    
   
}
.heading-content h1 {
    font-size: 30px;
    font-weight: 700;
}
.heading-content p{
    font-weight: 400;
    font-size: 14px;
    color: #718096;
}
.heading-content p {
    font-size: 14px;
    font-weight: 400;
    color: #718096;
}
.heading-content h5 {
    font-size: 12px;
    font-weight: 700;

}
.long-card img {
    border-radius: 0px 4px 4px 0px;
}
/* card */
.card-warper {
    display: flex;
    flex-direction: column;
    max-width: 297px;
    align-content: center;
    box-shadow: 0px 5px 4px #DDDDDD;
    
    
} 
.card-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: -14px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}
.card {
    margin-top: 40px;
    margin-left: 40px;
}
.card-content h1 {
    font-size: 20px;
    font-weight: 700;
    color: #2D3748;
}
.card-content p {
    color:#2D3748 ;
    font-size: 14px;
    font-weight: 400;
}
.card-status p {
    color: 
    #718096;
    font-size: 12px;
    font-weight: 400;
}
/* h-card */
.h-container {
    display: flex;
    padding-top: 40px;
}
.h-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.h-heading {
    align-content: center;
    background-color: #F7FAFC;
    padding: 0px 60px 0px 60px;
}
.h-heading h1 {
    font-size: 40px;
    font-weight: 700;

    
}
.h-heading p  {
    font-size:16px ;
    color: #718096;
    font-weight: 400;
}
.h-status a  {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
}
/* footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    
    
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
footer {
    border-top: 1px  solid #DDDDDD;
    margin-top: 20px;
}
/* blogpage */
.blog-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
.banner-content h1 {
    font-size: 45px;
    font-weight: 700;

}
.banner-status {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.banner-status h5 {
    font-size: 18px;
    font-weight: 700;
    color: #2D3748;
}
.bannner-status p {
    font-size: 18px;
    font-weight: 400;
    color: #2D3748; 
}
article {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}
.banner-image img {
    width: 100%;
    
}
article p {
    font-size: 16px;
    font-weight: 400;
   
}
