* {
    margin: 0;
    padding: 0;

}
.hero-container {
    max-width: 1200px;

}
.hero-image {
    background-image: url(hero\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color:#1f1f25 ;
    background-blend-mode: overlay;
    top: 0;
   
}
.nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul  {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    
}
.logo h1 {
    color: white;
}
ul button {
    height: 34px;
    width: 120px;
    background-color: rgba(65,186,128,255);
    border: none;
    border-radius: 5px;
}
.middle-content {
    color: white;
}
.o-text {
    color: #ff521a;

}
.middle-content {
    max-width: 1200px;
    margin: 0 auto;
    
}
.hero-bar {
    height: 3px;
    width: 50px;
    background-color: white;
    border-radius: 2px; 
}
.middle-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
}
.hero-butt button {
    height: 34px;
    width: 120px;
    border-radius: 5px;
    border: none;
}
.contact-us {
    background-color: #ff521a;

}
.discover-more {
    background-color: #43ba80;
}
.hero-butt {
display: flex;
gap: 20px;
}
/* iconsection */
.icon-section {
   height: 100vh;
    
}
.card-container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(430px,1fr));
    gap: 20px;
    max-width: 1060px;
    margin: 0 auto;
   
}
.card img {
    height: 60px;
    width: 60px;
}
.card {
    display: flex;
    align-items: center;
    
    height: 150px;
    width: 520px;
    box-shadow: 2px 2px 8px  rgb(225, 226, 227);
}
.card-content  p {
    margin-top: 15px;
    text-align: left;
    
}
.card-content  {
    padding-right: 10px;
    padding-left: 30px;
}
.card-image {
    padding-left: 10px;
}
/* business-solution */
.business {
    min-height: 350px;
    

}
.business-image {
    background-image: url(books.PNG);
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    background-color:#1f1f25 ;
    background-blend-mode: overlay;
    
}

.g-text{
    color: #43ba80;
}
.business-button  button {
    height: 34px;
    width: 120px;
    border-radius: 5px;
    border: none;
}
.short-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 140px;
    color: white;
}
/* aboutsection */
.about-heading {
    text-align: center;

}
.about-heading h4 {
    color: #ff521a;
    margin-bottom: -10px;
}
.about-section {
    height: 600px;
}
.web-card {
    height: 34px;
    width: 140px;
    margin-left: 15px;
    box-shadow: 2px 2px 8px  rgb(225, 226, 227);
    text-align: center;
    padding-top: 12px;
    
}
.about-budget {
    display: flex;
   padding-left: 70px;
    
}
th ,td {
    text-align: left;
padding: 20px;
border-bottom: 1px solid #ddd;
}



.budget-schdule {
    margin-top:20px;
    display: flex; 
    justify-content: space-around;
}
.about-text h1{
    margin-bottom: 40px;
    
}
.about-text p {
    margin-bottom: 34px;
    
}
/* formsection */
.form-section {
    margin-top: 60px;
}

.contact-image {
    background-image: url(r.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    background-color:#1f1f25 ;
    background-blend-mode: overlay;
}
.indicate-image img {
    height: 445px;
}
.over-allcontent{
    display: flex;
    justify-content: space-around;
}

.f-block {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax (200px,1fr));
    gap: 20px;
    margin-top: 40px;
    color: white;
}
.r-block {
    grid-column: 1 /span 2;
}
select {
    width: 100%;
}
.form {
    
}

input[type="text"],
    input[type="email"],
    textarea,select {
        width: 100%;
        background-color: #5e697b;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 5px;
        border: none;
        color: white;
        margin: 4px;
    }
    form h5 {
        padding-top: 20px;
        color: #ff521a;
    }
    form h1 {
        margin-top: 6px;
        color: white;
        font-size: 30px;
        
    }
    /* testemonails */
    .t-content i {
        color: white;
        background-color: #43ba80;
        font-size: 28px;
        padding: 6px;

    }
    .t-card {
        display: flex;
        
        align-items: center;
        width: 700px;
        height: 200px;
        box-shadow: 2px 2px 8px  rgb(225, 226, 227);
        margin: 0 auto;
        
    }
    .t-image img {
        height: 200px;
        width: 200px;
    }
    .test-container {
        padding-top: 90px;

    }
    .testemonails {
        height: 700px;
    }
    .t-content  {
        padding: 40px;
    }
   .test-container h5 {
    color: #ff521a;
    text-align: center;
    margin-bottom: 10px;
   }
   .test-container h1 {
    text-align: center;
    margin-bottom: 30px;
   }
   .t-content h6 {
    color: #43ba80;
    font-size: 14px;
    font-weight: 400;
   }
   .t-content h4 {
    font-size: 16px;
    font-family: 600;
   }
   .lato {
    color: #b7412f;
   }
   .blue-section {
    margin-top: 40px;
    bottom: 0;

   }
   footer {
    
    background-color: #181d30;
    color: white;
    text-align: center;
    padding: 20px;
   }
