@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 40px;
}
.hero-section {
    background-image: url(developer.png);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-container{
    color: white;
    max-width: 900px;
    margin: auto 0;
    padding: 60px;
    padding-left: 260px;
    
}
.lg-text {
    font-size: 28px;
    font-weight: 400px0
    
}
.black-section  {
    background-color: black;
    min-height: 200px;
}
.black-section h1 {
    color: white;
    font-size: 40px;
    font-weight: 10;
    text-align: center;
    padding-top: 100px;
}
.you-text {
    font-size: 60px;
}
.card-section {
    min-height: 400px;
   
    
}
.card-container { 
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.card {
    
    height: 350px;
    width: 250px;
    background-color: #FFFFFF;
    ;
    border-radius: 8px;
    box-shadow: 0px 2px 0px 0.2px #c0bcbc;
    margin: 20px;
}
.short {
    width: 250px;
    
}
.text {
    text-align: justify;
    padding: 10px 15px 15px 10px;
}
.text p {
    
    line-height: 14px;
    font-size: 12px; 
} 
.card:hover {
 transform: scale(1.04) ;
 box-shadow:3px 5px 5px rgba(1, 1, 1, 0.3) ;
}
.about-section{
    min-height: 340px;
}
.about-container{
    display: flex;
    width: 100%;
    
    
}
.contact-me {
    height: 350px;
    width: 100%;
    
    background-color:  #515603;
    ;

}
.about-me {
    height: 350px;
    width: 100%;
    background-color: #722300;
}
.text-contact  {
    text-align:  justify;
    margin-top: 30px;
    color: white;
    padding: 0 100px 0 100px;  
}
.text-contact p {
    line-height: 25px;
    font-size: 14px;
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
@media (max-width : 851px) {
  .card-container {
    flex-wrap: wrap;
  }
.about-container {
  flex-wrap: wrap;
}
  
}
